
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/registration.css">
    <title>Login.php</title>
</head>
<body>

<div class="container-grande">
    <div class="container-card">


        <div class="logo-text">
            <img src="../assets/devchallenges.svg" alt="Logo">
        </div>
        <div class="card-text">
            <p id="tex1">Login</p>
        </div>
        <div class="input-section">
            <form action="" method="post">
                <div class="input-box">
                    <img class="lockmail" src="../assets/mail.svg" alt="Correo">
                    <input type="email" name="email" placeholder="Email">
                </div>
                
                <div class="input-box">
                    <img class="lockmail" src="../assets/lock.svg" alt="">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <button type="submit">Login</button>
                <div class="social-profiles">
                 <p id="tex3">Or continue with these social profiles</p>
                <div class="images-container">
                <img src="../assets/Google.svg" alt="Red social 1">
                <img src="../assets/Facebook.svg" alt="Red social 2">
                <img src="../assets/Twitter.svg" alt="Red social 3">
                <img src="../assets/Gihub.svg" alt="Red social 4">
                </div>
                <div class="login-text">
                 <p>Don't have an account yet? <a href='/user/edit_info.php'>register</a></p>
               </div>
                 </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/registration.css">
    <title>register.php</title>
</head>
<body>

<div class="container-grande">
    <div class="container-card">
        <div class="logo-text">
            <img src="../assets/devchallenges.svg" alt="Logo">
        </div>
        <div class="card-text">
            <p id="tex1">Join thousands of learners from around the world</p>
            <p id="tex2">Master web development by making real-life projects. There are multiple paths for you to choose.</p>
        </div>
        <div class="input-section">
            <div class="input-box">
            <img class="lockmail" src="../assets/mail.svg" alt="Correo">
             <input name="email" type="email" placeholder="Email">
            </div>

            <div class="input-box">
              <img class="lockmail" src="../assets/lock.svg" alt="">
             <input name="password" type="password" placeholder="Password">
            </div>
            <button>Start coding now</button>
        <div class="social-profiles">
            <p id="tex3">Or continue with these social profiles</p>
            <div class="images-container">
                <img src="../assets/Google.svg" alt="Red social 1">
                <img src="../assets/Facebook.svg" alt="Red social 2">
                <img src="../assets/Twitter.svg" alt="Red social 3">
                <img src="../assets/Gihub.svg" alt="Red social 4">
            </div>
    
        <div class="login-text">
            <p> Adready a member?<a id="register-button" onclick="window.location.href = '/user/edit_info.php'">Login</a></p>    
        </div> 
        </div>       
        </div>
    </div>
</div>

</body>
</html>
